  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-12 d-flex align-items-start">
          <div class="col-xs-6 text-left">
            <h1 class="panel-title">Contacts</h1>
            <div class="input-group" style="margin-top: 1rem;">
              <input type="text" class="form-control" (keyup)="search(searchBox.value)" placeholder="Enter a search value" #searchBox>
              <span class="input-group-addon" (click)="search(searchBox.value)">
                <span class="glyphicon glyphicon-search"></span>
              </span>
            </div>
          </div>
          <div class="col-xs-6 d-flex text-right" style="margin-top: 3.5rem;">
            <button class="btn btn-success" [routerLink]="['new']" [disabled]="isEditMode() || isAddMode()">New Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div cdkDropList [cdkDropListData]="contacts">
      <!-- Move to the end of the *ngFor directive in the <cms-contact-item> tag and pipe the output of the *ngFor directive into the ContactsFilterPipe. Pass the value of the term property as an input into the pipe. -->
      <div
        cdkDrag
        *ngFor="let contact of contacts | contactsFilter: term"
        [cdkDragData]="contact">
        <cms-contact-item
          [contact]="contact">
        </cms-contact-item>
    </div>
  </div>
</div>
